<div class="redes">

  <h4 class="footer1">Síguenos en:</h4>

  <div class="alinear">
  <p><a class="social" href="https://twitter.com/?lang=en">X</a></p>
  <p><a class="social" href="https://www.facebook.com/">Facebook</a></p>
  <p><a class="social" href="https://www.instagram.com/">Instagram</a></p>
  <p><a class="social" href="https://www.tiktok.com/explore">TikTok</a></p>

  </div>
    <p class="footer2">Copyright © {{ actualDate }} Go Green Store . Todos los derechos reservados.</p>
  </div>

 