<label for="">
<input type="text" placeholder="id" [(ngModel)]="Product.id">
<input type="text" placeholder="Nombre" [(ngModel)]="Product.name">

<input type="text" placeholder="Descripcion" [(ngModel)]="Product.description">


<input type="text" placeholder="Precio" [(ngModel)]="Product.price">


<input type="text" placeholder="Imagen" [(ngModel)]="Product.image">

<input type="text" placeholder="Estrella" [(ngModel)]="Product.stars">



<button  (click)="addProduct()">ENVIAR DATOS</button>
<button  (click)="updateProduct()">ACTUALIZAR DATOS</button>
</label>
