<input type="text" placeholder="name" [(ngModel)]="Product.name">
<input type="text" placeholder="price" [(ngModel)]="Product.price">
<input type="text" placeholder="description" [(ngModel)]="Product.description">
<input type="text" placeholder="stars" [(ngModel)]="Product.stars">
<input type="text" placeholder="image" [(ngModel)]="Product.image">
<input type="text" placeholder="id" [(ngModel)]="Product.id">
<button  (click)="addProduct()">ENVIAR DATOS</button>
<button  (click)="updateProduct()">ACTUALIZAR DATOS</button>
