<div class="principal">
  @for (item of ProductsList; track $index) {
  <section>
    <div class="fotos">
      <h1>{{ item.name }}</h1>
      <p>{{ item.id }}</p>
      <img src="{{ item.image }}" alt="foto" />
      <p>{{ item.description }}</p>
      <p>{{ item.price }}</p>
      <p>{{ item.stars }}</p>
    </div>
    <button routerLink="/form">Editar producto</button>
  </section>

  }

  <div>
    <button (click)="previousPage()">Previous</button>
    <span>Page {{ paginaActual }}</span>
    <button (click)="nextPage()">Next</button>
  </div>
</div>


