.principal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

section {
  height: 440px;

  max-width: 20vw;
  min-width: 20vw;

  border: 2px solid lightgrey;
  border-radius: 5%;


  padding: 10px;
  align-items: center;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

button.button {
  padding: .5rem;
  border-radius: 100vmax;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 5px 0 10px 0;
  color: blue;
}
