<div class="principal">
  @for (item of ProductsList; track $index) {
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div>
          <img
            src="{{ item.image }}"
            alt="Producto"
            style="width: 300px; height: 300px"
          />
          <h3>Precio: {{ item.price }} €</h3>
          <p>{{ item.description }}</p>




        </div>
      </div>

      <div class="flip-card-back">
        <h1>{{ item.name }}</h1>


        <h3>Puntuación: {{ item.stars }} / 5</h3>
        <div class="edit-button">
            <button routerLink="/form">Editar producto</button>
          </div>



      </div>
    </div>
  </div>



  }

</div>
<div class="botonesproducts">
    <button class="botonProduct" (click)="previousPage()">Previous</button>
    <span>Page {{ paginaActual }}</span>
    <button class="botonProduct" (click)="nextPage()">Next</button>
  </div>
