<p>hola</p>

<header>
<h1>Testeo ramas</h1>

<h2>Formulario de Contacto</h2>

<form action="/procesar-formulario" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>


    <label for="correo">Correo Electrónico:</label>
    <input type="email" id="correo" name="correo" required>


    <input type="submit" value="Enviar">
</form>
<p>siy bryan desde mi rama</p>

=======

<p>siy bryan desde mi rama</p>

<p>segundo mergeo</p>

 HEAD

<p>3 cambio desde mi rama</p>

<h1>Testeo ramas</h1>
bryan
 701fe8be587ec03d943cb1cccaf51050bf6488a5


<p>3 cambio desde mi rama</p>
<p>¡4 CAMBIO DE MI RAMA</p>
<p>5 cambio desde mi rama</p>

<router-outlet></router-outlet>
