<div class="logo">
  <img src="../../../assets/img/logo.png" alt="logo" />
</div>

<div class="nav">
  <a [routerLink]="['']" roouterLinkActive="roouter-link-active">
    <img class="icono" src="../../../assets/img/home.png" alt="home"
  /></a>
  <a [routerLink]="['/form']" roouterLinkActive="roouter-link-active">
    <img class="icono" src="../../../assets/img/form.png" alt="form"
  /></a>
  <a [routerLink]="['/products']" roouterLinkActive="roouter-link-active">
    <img class="icono" src="../../../assets/img/products.png" alt="productos"
  /></a>
</div>
