.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nav {
    display: flex;
    justify-content: center;
    & __img {
    height: 200px;
    width: 200px;

    .icono {
        width: 10%;
        height: 10%;
    }
    }
}