
<header>
  <div class="bloque1">Todo por usted</div>
<div class="logo">
  <img src="../../../assets/img/logo.png" alt="logo" />
</div>

<div class="nav">
<div>
  <a [routerLink]="['']" roouterLinkActive="roouter-link-active">
    <img class="icono" src="../../../assets/img/home.png" alt="home"
  /></a>
  <h1>HOME</h1>
</div>


<div>
  <a [routerLink]="['/form']" roouterLinkActive="roouter-link-active">
    <img class="icono" src="../../../assets/img/form.png" alt="form"
  /></a>
  <h3>GESTION</h3>
</div>



<div>
  <a [routerLink]="['/products']" roouterLinkActive="roouter-link-active">
    <img class="icono" src="../../../assets/img/products.png" alt="productos"
  /></a>
  <h2>PRODUCTOS</h2>
</div>


</div>
</header>
