<section>
 <!--  <div class="titulo">
  <h2>¡Bienvenido a nuestra tienda Online!</h2> 
 </div> 

  <div class="resumen"> -->
  <div class="card">
    <div class="card-image"></div>
    <div class="card-text">
      <span class="date">Green Shop</span>
      <h2>¡Bienvenido!</h2>
      <p>Sumérgete en nuestros productos. En Green Shop, no solo ofrecemos productos de la más alta calidad, sino que también brindamos una experiencia de compra única que va más allá de lo convencional.
        </p>
    </div>
    <div class="card-stats">
    </div>
  </div>

  <div class="card">
    <div class="card-image card2"></div>
    <div class="card-text card2">
      <span class="date">Green Shop</span>
      <h2>Compra Exclusiva</h2>
      <p>Nos esforzamos por fusionar la elegancia con la funcionalidad, garantizando que cada compra sea una inversión en estilo y calidad. Navega y descubre cómo podemos convertir tus deseos en realidad.</p>
    </div>
    <div class="card-stats card2">
    </div>
  </div>

  <div class="card">
    <div class="card-image card3"></div>
    <div class="card-text card3">
      <span class="date">Green Shop</span>
      <h2>Comunidad</h2>
      <p>Únete a nosotros en esta emocionante travesía de compras en línea, donde la calidad, la variedad y la
        conveniencia se encuentran en cada clic.
        ¡Bienvenido a tu destino preferido para compras en línea!</p>        
      </div>
      <div class="card-stats card3">
        <div class="stat">
    </div>
  </div>
  </div>
  <p></p>

<!-- </div> -->
</section>
