<div class="titulo">
<h2>¡Bienvenido a nuestra tienda Online!</h2>
</div>

<div class="resumen">
<p>Sumérgete en nuestros productos. En Amaz0m, no solo ofrecemos
productos de la más alta calidad, sino que también brindamos una experiencia de compra única que va más allá de lo
convencional.

Explora nuestra amplia selección de [productos o categorías] diseñados para satisfacer tus gustos más exigentes. Desde
Características destacadas, cada artículo ha sido cuidadosamente seleccionado para asegurar que encuentres exactamente lo que buscas.

En Amaz0m, nos esforzamos por fusionar la elegancia con la funcionalidad, garantizando que cada compra
sea una inversión en estilo y calidad. Navega por nuestro catálogo y descubre cómo podemos convertir tus deseos en
realidad.

¡Bienvenido a la experiencia de compra que siempre has imaginado! Amaz0m está aquí para hacer que cada
momento sea memorable.


[Información de contacto o redes sociales]: David, Selu, Bryan, Leo</p>
</div>

<div class="row">
  <div class="column">
    <img src="https://img.freepik.com/fotos-premium/paquetes-productos-bolsa-compra-carrito-portatil-concepto-compras-entrega_38716-138.jpg">
    <img src="https://img.freepik.com/fotos-premium/paquetes-productos-bolsa-compra-carrito-portatil-concepto-compras-entrega_38716-138.jpg">
    <img src="https://img.freepik.com/fotos-premium/paquetes-productos-bolsa-compra-carrito-portatil-concepto-compras-entrega_38716-138.jpg">

  </div>
  <div class="column">
    <img src="https://img.freepik.com/fotos-premium/paquetes-productos-bolsa-compra-carrito-portatil-concepto-compras-entrega_38716-138.jpg">
    <img src="https://img.freepik.com/fotos-premium/paquetes-productos-bolsa-compra-carrito-portatil-concepto-compras-entrega_38716-138.jpg">
    <img src="https://img.freepik.com/fotos-premium/paquetes-productos-bolsa-compra-carrito-portatil-concepto-compras-entrega_38716-138.jpg">
  </div>
  <div class="column">



    <img src="https://img.freepik.com/fotos-premium/paquetes-productos-bolsa-compra-carrito-portatil-concepto-compras-entrega_38716-138.jpg">
    <img src="https://img.freepik.com/fotos-premium/paquetes-productos-bolsa-compra-carrito-portatil-concepto-compras-entrega_38716-138.jpg">
    <img src="https://img.freepik.com/fotos-premium/paquetes-productos-bolsa-compra-carrito-portatil-concepto-compras-entrega_38716-138.jpg">
  </div>

</div>
